<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Snip & Style</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- TODO can do a header for all pages to replace the "HOME" link at the bottom of Schedule Appt & Review Appt pages -->
    <div style="background-image: url('/haircutHeader.jpg'); display:flex;">SNipping and Styling</div> 
    <!-- this ^^ doesn't work idk why -->

    <h1>Welcome to Snip & Style! </h1>
    <h2>Services Offered</h2>
    <strong>Insert Images of Services Here with names below the images</strong>
    <!-- TODO is there an API to get images? maybe: https://unsplash.com/developers -->

    <h3>Appointments:</h3>
    <ul> 
        <li>To book an appointment, click here &rarr; <a href="/bookAppt">Schedule Appointment</a></li>
        <li>To review an appointment, click here &rarr; <a href="/reviewAppt">Review Appointment</a></li>
    </ul>
    <hr>
</body>

</html>
