<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Appointment Confirmation</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
	<h1>Appointment Information</h1>
	<strong>Name: </strong> <%- name %> 
    <br>
    <strong>Email Address: </strong> <%- email %>
    <br>
    <strong>Date: </strong> <%- date %>
    <br>
    <strong>Service(s): </strong>
    <%- service %>
    <hr>
    <a href="/">HOME</a>
</body>

</html>
