<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Appointment Information</title>
	<link rel="stylesheet" href="style.css">

</head>

<body>
	<h1>Review Appointment</h1>
	<form action="/findAppointment" method="post">
			<label><strong>Name: </strong><input type="text" name="name"></label>
			&nbsp;
			<label><strong>Email Address: </strong> <input type="email" name="email"></label>
            <br>      
		<br>
		<input type="submit" value="Find Appointment">
		<input type="reset">
	</form>
    <hr>
	<!-- TODO maybe change the access to home to something else, maybe like a top banner similar to the footer for TerpStore -->
    <a href="/">HOME</a>
</body>

</html>
